<div class="py-2 shadow-sm">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="px-2">
      <div><p class="font-extrabold text-violet-500 text-5xl p-3 border border-violet-500" ngClass.xs="font-bold text-2xl py-1 px-2">N.</p></div>
      <div class="flex space-x-5" ngClass.xs="space-x-0">
        <div class="flex menu" fxHide.lt-sm>
          <p class="py-2.5 px-4 font-bold text-sm cursor-pointer">Home</p>
          <p class="py-2.5 px-4 font-bold text-sm cursor-pointer">My Intro</p>
          <p class="py-2.5 px-4 font-bold text-sm cursor-pointer">Blog</p>
        </div>
        <div fxHide.lt-sm>
          <button class="bg-violet-500 rounded-full py-2 px-4 text-white font-medium">Hire Me</button>
        </div>
        <div fxHide.gt-xs>
          <div class="bg-violet-500 rounded pt-1 pb-0.5 px-2 text-white font-medium">
            <mat-icon class="text-2xl">menu</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
