
.header {
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
  width: 100vw;
}
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick  {
  color: #F87315;
}
