.menu{
  p{
    color: #0D0A5D;
  }
}
p{
  color: #0D0A5D;
}
.p{color: gray}
section {
  min-height: 90vh;
  width: 100vw;
}
.name {
  color: #0D0A5D;
  font-weight: 900;
}

:host ::ng-deep .mat-card {
  border-radius: 100px;
  padding: 20px 30px;
}
.pro {
  height: 30vh;
}
.prosm {
  height: 80%;
}
