<div class="header">
  <!--  <span class="gradient" [ngStyle]="gradientStyle"></span>-->
  <div class="py-2 shadow-sm">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="px-2" fxLayout="row" fxLayoutAlign="space-between center">
        <div><p class="font-extrabold text-orange-500 text-5xl p-3 border border-orange-500"
                ngClass.xs="font-bold text-2xl py-1 px-2">N.</p></div>
        <div class="flex space-x-5" ngClass.xs="space-x-0">
          <div class="flex menu" fxHide.lt-sm>
            <p class="py-2.5 px-4 font-bold text-sm cursor-pointer secondary">Home</p>
            <p class="py-2.5 px-4 font-bold text-sm cursor-pointer primary">My Intro</p>
            <p class="py-2.5 px-4 font-bold text-sm cursor-pointer primary">Achievements</p>
          </div>
          <div fxHide.lt-sm>
            <button class="bg-orange-500 rounded-full py-2 px-4 text-white font-medium">Hire Me</button>
          </div>
          <div fxHide.gt-xs>
            <div class="bg-orange-500 rounded pt-1 pb-0.5 px-2 text-white font-medium">
              <mat-icon class="text-2xl">menu</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
<div class="py-10"></div>
<div class="footer p-2 sm:p-10 lg:p-10">
  <div class="max-w-7xl mx-auto px-3 py-12 sm:px-6 lg:px-8">
    <div class="my-5 text-center">
      <p class="font-bold secondary text-sm sm:text-lg lg:text-lg tracking-wide">Contact Me</p>
      <p class="primary py-2 font-extrabold text-2xl sm:text-5xl lg:text-5xl">Get in Touch</p>
    </div>
    <div class="my-5">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
        <div fxFlex="65">
          <form [formGroup]="mailForm">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 sm:gap-4 lg:gap-4">
              <mat-form-field appearance="outline" floatLabel="always">
                <input formControlName="name" matInput placeholder="Name" type="text">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input formControlName="mobile" matInput maxlength="10" placeholder="mobile" type="tel">
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="w-full">
              <input formControlName="subject" matInput placeholder="Subject" type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
              <textarea formControlName="message" matInput placeholder="Message" rows="4" type="text"></textarea>
            </mat-form-field>
            <button (click)="sendMail()"
                    class="text-white font-medium tracking-wide px-5 py-3 rounded-full bg-orange-500">Send Message
            </button>
          </form>
        </div>
        <div fxFlex="30" fxFlex.xs="10" fxLayout="column">
          <div class="flex mb-5 space-x-2 lg:space-x-5 sm:space-x-5" type="tel">
            <div class="pt-3"><i class="icofont-ui-call text-lg text-white p-3 bg-orange-500 rounded-full"></i></div>
            <div>
              <p class="primary font-bold text-lg tracking-wide">Call Me</p>
              <small class="text-gray-400 ">+91 7397098513</small>
            </div>
          </div>
          <div class="flex mb-5 space-x-2 lg:space-x-5 sm:space-x-5">
            <div class="pt-3"><i class="icofont-email text-lg text-white p-3 bg-orange-500 rounded-full"></i></div>
            <div>
              <p class="primary font-bold text-lg tracking-wide">Email </p>
              <small class="text-gray-400 ">nagucse05@gmail.com</small>
            </div>
          </div>
          <div class="flex mb-5 space-x-2 lg:space-x-5 sm:space-x-5">
            <div class="pt-3"><i class="icofont-location-pin text-lg text-white p-3 bg-orange-500 rounded-full"></i>
            </div>
            <div>
              <p class="primary font-bold text-lg tracking-wide">Location</p>
              <small class="text-gray-400 ">TamilNadu, India.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-10 bg shadow-sm rounded-bl-lg rounded-br-lg">
    <div class="flex justify-center">
      <div class="flex flex-col">
        <div class="flex justify-center"><p
          class="font-extrabold text-orange-500 text-5xl p-3 border border-orange-500">N.</p></div>
        <p class="text-center text-white tracking-wider pt-5 font-normal">FullStack Developer</p>
        <div class="flex space-x-5 flex-wrap justify-center leading-10 mx-5 px-5 border rounded border-orange-500 m-2">

          <small class="text-white font-medium">HTML</small>
          <small class="text-white font-medium">|</small>
          <small class="text-white font-medium">CSS</small>
          <small class="text-white font-medium">|</small>
          <small class="text-white font-medium">Bootstrap</small>
          <small class="text-white font-medium">|</small>
          <small class="text-white font-medium">Tailwind</small>
          <small class="text-white font-medium">|</small>
          <small class="text-white font-medium">JavaScript</small>
          <small class="text-white font-medium">|</small>
          <small class="text-white font-medium">Angular</small>
          <small class="text-white font-medium">|</small>
          <small class="text-white font-medium">NodeJS</small>
          <small class="text-white font-medium">|</small>
          <small class="text-white font-medium">NestJS</small>
          <small class="text-white font-medium">|</small>
          <!--          <small class="text-white font-medium">ExpressJS</small>-->
          <!--          <small class="text-white font-medium">|</small>-->
          <small class="text-white font-medium">MySQL</small>
          <small class="text-white font-medium">|</small>
          <small class="text-white font-medium">MongoDb</small>
        </div>
        <div class="my-3 flex justify-center">
          <div class="p-3"><a href="https://github.com/NaGoo" target="_blank"><i
            class="icofont-github text-lg bg-orange-500 rounded p-1.5 text-white cursor-pointer"></i>
          </a></div>
          <div class="p-3"><a href="https://www.instagram.com/living_whimsic" target="_blank">
            <i class="icofont-instagram text-lg bg-orange-500 rounded p-1.5 text-white cursor-pointer"></i></a></div>
          <div class="p-3"><a href="https://www.linkedin.com/in/nagarajan-s-9898b6191/" target="_blank"><i
            class="icofont-linkedin text-lg bg-orange-500 rounded p-1.5 text-white cursor-pointer"></i></a></div>
<!--          <div class="p-3"><a href="https://twitter.com/mr_nagoo" target="_blank"><i-->
<!--            class="icofont-twitter text-lg bg-orange-500 rounded p-1.5 text-white cursor-pointer"></i></a>-->
<!--          </div>-->
        </div>
        <em class="text-center text-gray-300 py-3 font-normal">nagucse05@gmail.com</em>
      </div>
    </div>
  </div>
</div>
