<div>

  <section class="mb-5 bg-gray-100 px-10 pb-20 pt-24" fxLayout="row" fxLayout.xs="column-reverse"
           fxLayoutAlign="start center" fxLayoutAlign.xs="center center">
    <div class="my-10 flex flex-row justify-center sm:flex-col lg:flex-col" fxFlex="13">
      <div class="p-3"><i class="icofont-facebook icofont-2x primary cursor-pointer"></i></div>
      <div class="p-3"><i class="icofont-instagram icofont-2x primary cursor-pointer"></i></div>
      <div class="p-3"><i class="icofont-linkedin icofont-2x primary cursor-pointer"></i></div>
      <div class="p-3"><i class="icofont-twitter icofont-2x primary cursor-pointer"></i></div>
    </div>
    <div class="flex flex-col justify-center space-y-3" fxFlex="40" fxFlex.sm="45">
      <small class="font-bold text-orange-500 text-lg tracking-wide" ngClass.xs="text-sm font-normal text-center">Hi, I
        am</small>
      <p class="py-3 name text-6xl tracking-widest" ngClass.sm="text-3xl" ngClass.xs="text-4xl py-1 text-center">
        NAGARAJAN S</p>
      <p class="font-bold text-2xl tracking-wide primary" ngClass.xs="text-lg py-0 text-center">Software Developer</p>
      <p class="tracking-wide py-5 p font-medium leading-5 justify-center text-gray-400" ngClass.xs="text-center"> I am
        NaGoo, an Angular developer. I am passionate
        about developing elegant websites. I am young into my career, constantly learning and hoping to share.</p>
      <div class="flex justify-start space-x-5 my-10" ngClass.xs="my-10 justify-center">
        <button class="px-6 py-3 rounded-full bg-orange-500"><span class="font-medium text-white">Download CV</span>
        </button>
        <button class="px-6 py-3 rounded-full border-2 border-orange-500"><p class="font-medium primary">Contact Me</p>
        </button>
      </div>
    </div>
    <div fxFlex="42" fxHide.xs gdAlignRows="center">
      <img alt="profile" class="pro" src="../../../assets/lottie/dev.gif">
    </div>
    <div fxFlex fxHide.gt-xs>
      <div class="mb-5 border-orange-500 p-3 border-2 rounded-full items-center">
        <img alt="my profile" class="h-48 w-48 rounded-full" src="../../../assets/profile/my_profile.jpg">
      </div>
    </div>
  </section>

  <!--banner-->
  <div class="pb-10 max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <mat-card class="banner z-10 -mt-20 rounded-full shadow-xl" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex gdAlignRows="center">
        <div class="flex space-x-5" ngClass.xs="flex-col space-x-0 text-center justify-center">
          <div>
            <i class="text-orange-500 icofont-badge icofont-4x" fxHide.xs></i>
            <i class="text-orange-500 icofont-badge icofont-2x" fxHide.gt-xs></i>
          </div>
          <div class="pt-2">
            <p class="font-medium text-lg primary" ngClass.xs="text-xs">2 Years Job</p>
            <small class="font-medium text-orange-500">Experience</small>
          </div>
        </div>
      </div>
      <div class="border h-24 border-gray-200"></div>
      <div fxFlex gdAlignRows="center">
        <div class="flex space-x-5" ngClass.xs="flex-col space-x-0 text-center justify-center">
          <div>
            <i class="text-orange-500 icofont-dashboard-web icofont-4x" fxHide.xs></i>
            <i class="text-orange-500 icofont-dashboard-web icofont-2x" fxHide.gt-xs></i>
          </div>
          <div class="pt-2">
            <p class="font-medium text-lg primary" ngClass.xs="text-xs">6 Projects</p>
            <small class="font-medium text-orange-500">Completed</small>
          </div>
        </div>
      </div>
      <div class="border h-24 border-gray-200"></div>
      <div fxFlex gdAlignRows="center">
        <div class="flex space-x-5" ngClass.xs="flex-col space-x-0 text-center justify-center">
          <div>
            <i class="text-orange-500 icofont-support icofont-4x" fxHide.xs></i>
            <i class="text-orange-500 icofont-support icofont-2x" fxHide.gt-xs></i>
          </div>
          <div class="pt-2">
            <p class="font-medium text-lg primary" ngClass.xs="text-xs">Support</p>
            <small class="font-medium text-orange-500">Online 24/7</small>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <!--  <div class="py-10"></div>-->
  <!--My Intro-->
  <div class="py-10"></div>
  <div class="max-w-7xl mx-auto px-5 sm:px-6 lg:px-8 py-12">
    <div fxLayout="row" fxLayout.xs="column-reverse"
         fxLayoutAlign="center center" fxLayoutGap="80px">
      <div class="w-full" fxFlex="25" fxFlex.sm="35">
        <img class="introProfile" alt="profile" src="../../../assets/lottie/intro.gif">
      </div>
      <div fxFlex="40">
        <div class="flex flex-col justify-start">
          <small class="font-bold text-orange-500 text-lg tracking-wide" ngClass.xs="text-sm font-normal text-center">My
            Intro</small>
          <p class="pt-3 name text-5xl tracking-widest" ngClass.sm="text-3xl" ngClass.xs="text-4xl py-1 text-center">
            About
            Me</p>
          <p class="tracking-wide py-3 text-gray-600 font-medium leading-5 justify-center" ngClass.xs="text-center">&nbsp;&nbsp;&nbsp; I
            am NaGoo, an
            Angular developer. I am passionate
            about developing elegant websites. I am young into my career, constantly learning and hoping to share.</p>
          <div class="my-3 flex flex-col space-y-3" ngClass.xs="px-2">
            <div class="flex justify-start space-x-12">
              <div class="flex space-x-5">
                <div><i class="text-orange-400 pr-3 icofont-user-alt-3 text-lg"></i></div>
                <p class="font-medium text-sm primary">Name</p>
              </div>
              <div>:</div>
              <small class="font-medium text-gray-400 text-sm">Nagarajan S</small>
            </div>
            <div class="flex justify-start space-x-12">
              <div class="flex space-x-5">
                <div><i class="text-orange-400 pr-3 icofont-ui-call text-lg"></i></div>
                <p class="font-medium text-sm primary">Phone</p>
              </div>
              <div>:</div>
              <small class="font-medium text-gray-400 text-sm">+91 7397098513</small>
            </div>
            <div class="flex justify-start space-x-12">
              <div class="flex space-x-5">
                <div><i class="text-orange-400 pr-3 text-lg icofont-email"></i></div>
                <p class="font-medium text-sm primary">Email</p>
              </div>
              <div>&nbsp;:</div>
              <small class="font-medium text-gray-400 text-sm">nagucse05@gamil.com</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-5 flex justify-center">
      <div class="my-10">
        <p class="font-bold text-center text-xl tracking-wide primary" ngClass.xs="text-lg py-0 text-center">My
          Intrests</p>
        <div class="py-3 flex space-x-8">
          <div class="flex"><i class="text-orange-500 pr-3 text-2xl icofont-retro-music-disk"></i>
            <p class="pt-1 font-medium text-sm primary">Music</p></div>
          <div class="flex"><i class="text-orange-500 pr-3 text-2xl icofont-travelling"></i>
            <p class="pt-1 font-medium text-sm primary">Travel</p></div>
          <div class="flex"><i class="text-orange-500 pr-3 text-2xl icofont-camera"></i>
            <p class="pt-1 font-medium text-sm primary">Photo</p></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--my skills-->

<div class="bg-gray-50 lg:py-24 sm:py-20 py-12">
  <div class="max-w-7xl mx-auto px-6 sm:px-6 lg:px-8">
    <div class="my-5 text-center">
      <p class="font-bold secondary text-sm sm:text-lg lg:text-lg tracking-wide">Why Choose Me</p>
      <p class="primary py-2 font-extrabold text-2xl sm:text-5xl lg:text-5xl">My Skills</p>
    </div>
    <div
      class="mt-5 sm:mt-10 lg:mt-10 space-y-5 sm:space-y-0 lg:space-y-0 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 sm:gap-10 lg:gap-10">
      <div>
        <div class="flex justify-between">
          <p class="font-bold primary text-sm">HTML</p>
          <p class="font-bold primary text-sm">90%</p>
        </div>
        <div class="w-full bg-gray-200 mt-3">
          <div class="bg-orange-500 border-orange-500 rounded-r-lg border py-0.5" style="width: 90%"></div>
        </div>
      </div>
      <div>
        <div class="flex justify-between">
          <p class="font-bold primary text-sm">CSS</p>
          <p class="font-bold primary text-sm">85%</p>
        </div>
        <div class="w-full bg-gray-200 mt-3">
          <div class="bg-orange-500 border-orange-500 rounded-r-lg border py-0.5" style="width: 85%"></div>
        </div>
      </div>
    </div>
    <div
      class="mt-5 sm:mt-10 lg:mt-10 space-y-5 sm:space-y-0 lg:space-y-0 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 sm:gap-10 lg:gap-10">
      <div>
        <div class="flex justify-between">
          <p class="font-bold primary text-sm">Angular</p>
          <p class="font-bold primary text-sm">80%</p>
        </div>
        <div class="w-full bg-gray-200 mt-3">
          <div class="bg-orange-500 border-orange-500 rounded-r-lg border py-0.5" style="width: 80%"></div>
        </div>
      </div>
      <div>
        <div class="flex justify-between">
          <p class="font-bold primary text-sm">Tailwind Css</p>
          <p class="font-bold primary text-sm">85%</p>
        </div>
        <div class="w-full bg-gray-200 mt-3">
          <div class="bg-orange-500 border-orange-500 rounded-r-lg border py-0.5" style="width: 85%"></div>
        </div>
      </div>
    </div>
    <div
      class="mt-5 sm:mt-10 lg:mt-10 space-y-5 sm:space-y-0 lg:space-y-0 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 sm:gap-10 lg:gap-10">
      <div>
        <div class="flex justify-between">
          <p class="font-bold primary text-sm">JavaScript</p>
          <p class="font-bold primary text-sm">75%</p>
        </div>
        <div class="w-full bg-gray-200 mt-3">
          <div class="bg-orange-500 border-orange-500 rounded-r-lg border py-0.5" style="width: 75%"></div>
        </div>
      </div>
      <div>
        <div class="flex justify-between">
          <p class="font-bold primary text-sm">Typescript</p>
          <p class="font-bold primary text-sm">80%</p>
        </div>
        <div class="w-full bg-gray-200 mt-3">
          <div class="bg-orange-500 border-orange-500 rounded-r-lg border py-0.5" style="width: 80%"></div>
        </div>
      </div>
    </div>
    <div
      class="mt-5 sm:mt-10 lg:mt-10 space-y-5 sm:space-y-0 lg:space-y-0 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 sm:gap-10 lg:gap-10">
      <div>
        <div class="flex justify-between">
          <p class="font-bold primary text-sm">Web Ui Design</p>
          <p class="font-bold primary text-sm">95%</p>
        </div>
        <div class="w-full bg-gray-200 mt-3">
          <div class="bg-orange-500 border-orange-500 rounded-r-lg border py-0.5" style="width: 95%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-10"></div>
<!--Qualification-->
<div class="lg:py-24 sm:py-20 py-12">
  <div class="max-w-7xl mx-auto px-3 sm:px-6 lg:px-8">
    <div class="my-5 text-center">
      <p class="font-bold secondary text-sm sm:text-lg lg:text-lg tracking-wide">My Qualification</p>
      <p class="primary py-2 font-extrabold text-2xl sm:text-5xl lg:text-5xl">Awesome Journey</p>
    </div>
    <div fxLayout="row" fxLayout.xs="column-reverse">
      <div fxFlex class="flex flex-col">
        <div><p class="py-2 px-3 sm:px-0 lg:px-0 md:px-0"><i
          class="icofont-user-suited text-xl sm:text-2xl lg:text-2xl primary"></i>
          <span class="pl-3 tracking-wide text-2xl sm:text-2xl lg:text-2xl primary font-bold">Education</span></p></div>
        <div class="my-5 pl-10 sm:pl-0 lg:pl-0">
          <ol class="mb-5 border-l-2 border-orange-500">
            <li>
              <div class="md:flex flex-start">
                <div
                  class="bg-orange-500 w-3.5 h-3.5 border border-orange-500 flex items-center justify-center rounded-full -ml-2">
                  <span class="text-white font-bold text-4xl -mt-5">.</span>
                </div>
                <div class="block px-4 pb-3">
                  <p class="font-bold text-md sm:text-lg lg:text-lg primary">Rohini College of Engg & Tech</p>
                  <p class="font-medium text-md color1">Computer Science and Engineering (75%)</p>
                  <small class=" font-medium text-orange-300 text-xs">2016 - 2020</small>
                </div>
              </div>
            </li>
          </ol>
          <ol class="mb-5 border-l-2 border-orange-500">
            <li>
              <div class="md:flex flex-start">
                <div
                  class="bg-orange-500 w-3.5 h-3.5 border border-orange-500 flex items-center justify-center rounded-full -ml-2">
                  <span class="text-white font-bold text-4xl -mt-5">.</span>
                </div>
                <div class="block px-4 pb-3">
                  <p class="font-bold text-md sm:text-lg lg:text-lg primary">Carmel Higher Secondary School (HSC)</p>
                  <p class="font-medium text-md color1">Computer Science (87%)</p>
                  <small class=" font-medium text-orange-300 text-xs">2014 - 2016</small>
                </div>
              </div>
            </li>
          </ol>
          <ol class="mb-5 border-l-2 border-orange-500">
            <li>
              <div class="md:flex flex-start">
                <div
                  class="bg-orange-500 w-3.5 h-3.5 border border-orange-500 flex items-center justify-center rounded-full -ml-2">
                  <span class="text-white font-bold text-4xl -mt-5">.</span>
                </div>
                <div class="block px-4 pb-3">
                  <p class="font-bold text-md sm:text-lg lg:text-lg primary">Carmel Higher Secondary School (SSLC)</p>
                  <p class="font-medium text-md color1">State Board (95%)</p>
                  <small class=" font-medium text-orange-300 text-xs">2013 - 2014</small>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
      <div fxFlex>
        <p class="py-2 px-3 sm:px-0 lg:px-0 md:px-0"><i
          class="icofont-bag-alt text-xl sm:text-2xl lg:text-2xl primary"></i>
          <span class="pl-3 tracking-wide text-2xl sm:text-2xl lg:text-2xl primary font-bold">Experience</span></p>
        <div class="my-5  pl-10 sm:pl-0 lg:pl-0">
          <ol class="mb-5 border-l-2 border-orange-500">
            <li>
              <div class="md:flex flex-start">
                <div
                  class="bg-orange-500 w-3.5 h-3.5 border border-orange-500 flex items-center justify-center rounded-full -ml-2">
                  <span class="text-white font-bold text-4xl -mt-5">.</span>
                </div>
                <div class="block px-4 pb-3">
                  <p class="font-bold text-md sm:text-lg lg:text-lg primary">ReadyAssist (HQ) - 24 Hrs Bike & Car
                    Breakdown Service - India</p>
                  <p class="font-medium text-md color1">Associate Software Engineer</p>
                  <small class=" font-medium text-orange-300 text-xs">2020 - 2022</small>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
