/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

p{margin: 0 !important;}
.primary {color: #0D0A5D;}
.secondary {color: #FEA158;}
.bg{background-color: #081E48}
.color1 {color: #2F4E84}
[type='text']:focus, [type='time']:focus, [multiple]:focus {
  box-shadow: none !important;
}

.alert {
  background-color: #fa4242;
  color: #ffffff;
}
