.logo.isAni span {
  display: inline-block;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 500;
  animation: wave-text 1s ease-in-out infinite;
}

.logo.isAni {
  span:nth-of-type(1) {
    animation-delay: 0.0s;
  }

  span:nth-of-type(2) {
    animation-delay: 0.1s;
  }

  span:nth-of-type(3) {
    animation-delay: 0.2s;
  }

  span:nth-of-type(4) {
    animation-delay: 0.3s;
  }

  span:nth-of-type(5) {
    animation-delay: 0.4s;
  }

  span:nth-of-type(6) {
    animation-delay: 0.5s;
  }

  span:nth-of-type(7) {
    animation-delay: 0.6s;
  }

  span:nth-of-type(8) {
    animation-delay: 0.7s;
  }

  span:nth-of-type(9) {
    animation-delay: 0.8s;
  }
}

@keyframes wave-text {
  00% {
    transform: translateY(0em);
  }
  60% {
    transform: translateY(-0.1em);
  }
  100% {
    transform: translateY(0em);
  }
}

.messageSection {
  height: 48vh;
  overflow-y: scroll;
  margin: 0;
}
